.homeHeader{
    height: 300px;
    background-image:
    linear-gradient(to bottom, rgba(28, 43, 150, 0.683), rgba(6, 1, 5, 0.661)), url('../../img/homeHeader.png');
   
   width: 100%;
 
   background-color:lightblue ;
 
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   position: relative;

}